<a href="https://colab.research.google.com/github/diegomarlop/Actiivities_IH/blob/main/Activities1_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.04 Activity 1

1. Load data (file1.csv) in a new Jupyter notebook.
2. Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.
3. Use the head() to check the new dataframe.

In [8]:
import pandas as pd
import numpy as np
"""
Limpieza se refiere a: 
- Checar si hay nulos y analizar si hay que llenarlos o quitarlos, cuantos nulos hay 
-si es informacion categórica, que este homogenea (i.e que la misma opcion no tenga diferentes maneras de representarse)
-homogeneizar unidades e.g si tuvieras un file_1 que este en metros y un file_2 que este en cm, poner los dos en las mismas unidades 
- revisar el nombre de las columnas
"""

In [9]:
data = pd.read_csv('file1.csv')
data2 = pd.read_csv('merged_clean_ver1.csv')

In [10]:
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [11]:
#EN minusculas 
data.columns = data.columns.map(lambda x: x.lower())

In [12]:
data

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [13]:
sum(data['ic4'].isnull())

1

In [14]:
sum(data['ic5'].isnull())

0

In [15]:
mean_ic4= np.mean(data['ic4'])
mean_ic4

445.0596421471173

In [16]:
#Se llenan los valores null con el promedi de la columna ic4
data['ic4']=data['ic4'].fillna(mean_ic4)

In [17]:
data.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

### Debate
Is it better to fill null values with the mean or with the median?


Can we drop all rows with null values?

1. Dependiendo la dispersion de los datos
2. Si, si se puede, con "pandas.DataFrame.dropna
"

## Activitie 2
Refer to the file files_for_activities/merged_clean_ver1.csv for this exercise.

Import the data from merged_clean_ver1.csv as a dataframe. There would be a column with the sequence of numbers (to the left of column id). Drop that column(s).

Check the column state for null values. Replace those null values with the state that is represented largest number of times in that column

Lambda Expression:

Create a simple lambda expression to add three numbers. Take those three numbers as input from the user. (Since you will accept only numbers as valid inputs, check this example to see how to do it.)
Define a list as lst = [1,2,3,4,5,6,7,8,10]. Write a lambda expression to find the cube of a number. Use that lambda expression to find the cube of every number in the list. Define a list comprehension for this question.

In [18]:
type(data2)

pandas.core.frame.DataFrame

In [19]:
data2.drop('Unnamed: 0',axis=1)

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...
3988,66762,MI,F,632.000000,279,336.0,339,388.0,12653.0,8.533333,5.0
3989,6443,FL,M,595.000000,252,263.0,262,274.0,11132.0,14.692308,20.0
3990,151175,CA,F,2707.000000,507,504.0,538,537.0,16165.0,12.117647,22.0
3991,151504,CA,M,2666.000000,535,609.0,612,653.0,24745.0,12.333333,21.0
3992,74303,MI,M,444.000000,225,264.0,269,299.0,10088.0,17.142857,25.0

In [20]:
sum(data2['state'].isnull())

0

In [21]:
z = lambda: int(input('Ingrese un numero :')) + int(input('Ingrese un numero:')) + int(input('Ingrese un numero:'))

In [22]:
z()

Ingrese un numero :3
Ingrese un numero:3
Ingrese un numero:3

9

In [23]:
lst = [1,2,3,4,5,6,7,8,10]

In [24]:
cubo=lambda a : np.power(a,3)

In [25]:
cubo(10)

1000

In [26]:
cubo2=lambda lst:  np.power(lst,3)

In [27]:
cubo2(lst)

array([   1,    8,   27,   64,  125,  216,  343,  512, 1000])

##Activity 3
### Try to convert these functions into lambda functions.

In [28]:
def function_1(a,b):
    c=a+b
    return c

In [29]:
function_1(5,5)

10

In [30]:
function_1 = lambda a,b: a+b

In [31]:
function_1(5,5)

10

In [32]:
def function_2(a,b):
    c=0
    for i in range(a):
        c=c+2*b
    return c

In [33]:
function_2(5,5)

50

In [83]:
function_2_lambda = lambda a,b: a*2*b

In [85]:
function_2_lambda(5,5)

50

In [86]:
#Otra manera 
function2_lambda = lambda  a,b: sum([2*b for i in range(a)])

In [87]:
function2_lambda(5,5)

50

In [35]:
def function_3(a,b):
    c=0
    if a>3:
        c=12
    else:
        c='Too big.'
    return c

In [36]:
function_3(2,5)

'Too big.'

In [38]:
function_3 = lambda a,b: 12 if a>3 else'Too big'

In [37]:
function_3(2,5)

'Too big.'

# Activitie 4

In [39]:
data

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [71]:
sum(data['state'].isnull())

0

In [82]:
data['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'AP', 'KS', 'MI', 'OK', 'AR',
       'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT', 'AL',
       'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ', 'MN',
       'KY', 'NJ', 'NE', 'MS', 'NY', 'WY'], dtype=object)

In [80]:
def clean(state_name):
  state_name=state_name.upper()
  state_name=state_name.strip()
  print(state_name)
  if 'ARI' in state_name:
    return 'AZ'
  elif 'TENN' in state_name:
    return 'TN'
  elif 'CALI' in state_name:
    return 'CA'
  else: 
    return state_name

In [ ]:
var='ariZONA'
clean(var)

In [ ]:
#Los espacios los considera
#.strip quita los espacios de los lados 
texto = 'hola mundo'
texto.strip()

In [49]:
var='Arizona'
clean(var)

In [ ]:
#este map es de pandas 
data['state'].map

In [ ]:
#este mapmes propio de python
lista_prueba = [1,2,3,4,5,6]
data['state']=list( map(clean,data['state']))

In [90]:
#map(lista_prueba,argumento)#si#checar documnetacion
#lista_prueba.map#no